<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      
      <app-custom-input 
        icon="mail-outline"
        autocomplete="email"
        [control]="form.controls.email"
        type="email"
        label="Correo">
      </app-custom-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
      </div>

      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Recuperar Contraseña
        <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
      </ion-button>

    </form>
  </div>
</ion-content>