<app-header title="Profesor"></app-header>

<ion-content>
  <!-- Botón para cerrar sesión -->
  <ion-button (click)="signOut()">
    Cerrar sesión
  </ion-button>

  <!-- Crear Nuevo Curso -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Nuevo Curso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre del Curso</ion-label>
        <ion-input [(ngModel)]="newCourse.name" required placeholder="Ej: Ciencias"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sección del Curso</ion-label>
        <ion-select [(ngModel)]="newCourse.section" required>
          <ion-select-option value="A">Sección A</ion-select-option>
          <ion-select-option value="B">Sección B</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" (click)="createCourse()" [disabled]="!newCourse.name || !newCourse.section">
        Crear Curso
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Agregar Nueva Sección a un Curso -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Nueva Sección a un Curso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Curso</ion-label>
        <ion-select [(ngModel)]="selectedCourseId" (ionChange)="onCourseChange($event.detail.value)">
          <ion-select-option *ngFor="let course of courses" [value]="course.id">{{ course.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nombre de la Sección</ion-label>
        <ion-input [(ngModel)]="newSection.nombre" required placeholder="Ej: Sección A"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Número de Sección</ion-label>
        <ion-input [(ngModel)]="newSection.numero_seccion" required placeholder="Ej: 1"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="addSection()" [disabled]="!newSection.nombre || !newSection.numero_seccion">
        Agregar Sección
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Seleccionar Curso y Sección -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Seleccionar Curso y Sección</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Curso</ion-label>
        <ion-select [(ngModel)]="selectedCourseId" (ionChange)="onCourseChange($event.detail.value)">
          <ion-select-option *ngFor="let course of courses" [value]="course.id">{{ course.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sección</ion-label>
        <ion-select [(ngModel)]="selectedSection" (ionChange)="onSectionChange($event.detail.value)">
          <ion-select-option *ngFor="let section of sections" [value]="section.id">{{ section.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" (click)="generateQRCode()">Generar Código QR</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar el Código QR generado -->
  <ion-card *ngIf="qrCodeUrl">
    <ion-card-header>
      <ion-card-title>Código QR Generado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="qr-code-container">
        <img [src]="qrCodeUrl" alt="Código QR" class="qr-code-img">
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="attendanceList.length > 0">
    <ion-card-header>
      <ion-card-title>Estudiantes que han registrado su asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let attendance of attendanceList" class="attendance-item">
          <ion-label>
            <h2>{{ attendance.studentName }}</h2>
            <p>{{ attendance.date }} {{ attendance.time }} - {{ attendance.percentage | number:'1.0-2' }}%</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
