<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="scan()" *ngIf="isSupported">
    Escanear Código QR
  </ion-button>

  <ion-button expand="full" (click)="loadAttendance()">
    Cargar Asistencia
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let record of attendanceRecords">
      <ion-label>
        <h2>{{ record.date }}</h2>
        <p>Curso: {{ record.courseId }}</p>
        <p>Sección: {{ record.section }}</p>
        <p>Hora: {{ record.time }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
